.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vh 3vh;

  a,
  span {
    color: #fff;
    font-size: 0.65em;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .copyright {
    color: #fff;
    font-size: 1.3em;
    letter-spacing: 0.1rem;
  }

  .social-icons {
    display: flex;
    align-items: center;
    gap: 1.7vh;
    padding-bottom: 5px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.3s ease;
      
      svg {
        transition: transform 0.3s ease;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    padding: 8px;
  }

  .copyright {
    font-size: 1.1em;
  }

  .social-icons {
    gap: 1vh;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 5px;
  }

  .copyright {
    font-size: 1em;
  }

  .social-icons {
    gap: 0.5vh;
  }
}
