.mynavbar {
  top: 9vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  position: absolute;
  text-align: center;
  box-sizing: border-box;

  &::after {
    content: "";
    position: absolute;
    top: 4vh;
    width: 80%;
    height: 1vh;
    background: linear-gradient(to right, transparent, #97bddc, #3293e0, #97bddc, transparent);
  }

  .logo {
    position: absolute;
    top: -4.5vh;
    left: 6vh;
    display: block;

    img {
      max-width: 12vh;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  ul {
    display: inline-flex;
    gap: 3vh;
    list-style: none;
    position: absolute;
    li {
      font-size: 5.5vh;
      letter-spacing: 0.10em;

      a {
        color: white;
        text-decoration: none;
        text-shadow: 0 0 1vh white;
        padding: 0 1vh;
        transition: color 0.3s ease, text-shadow 0.3s ease, letter-spacing 0.3s ease;

        &:hover {
          color: #fff;
          text-shadow: 0 0 2vh #3293e0, 0 0 2vh #3293e0, 0 0 2vh #3293e0, 0 0 2vh #3293e0;
          letter-spacing: 0.15em;
        }
      }
    }

    .active {
      a {
        text-shadow: 0 0 2vh #97bddc, 0 0 2vh #3293e0;
        color: #3293e0;
      }
    }
  }
}
