.faqContainer {
  max-width: 800px;
  margin: auto;
  margin-top: -2.5%;
  color: white;
  padding: 10px;
  font-family: Arial, sans-serif;
  padding-bottom: 10%;

  h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
  }
}

.faqItem {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 0;
}

.faqQuestion {
  background: none;
  border: none;
  font-size: 18px;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  color: white;
  transition: color 0.3s ease;
  &:hover {
    color: #39a6ff;
  }

  span {
    font-size: 20px;
  }
}

.faqQuestion.active {
  color: #39a6ff; // Blue color for the active question
}

.faqAnswer {
  margin-top: 10px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  padding-left: 10px;
}

.icon {
  color: white;
  font-size: 20px;
}
