.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  
    a,
    span {
      color: #fff;
      font-size: 0.75em;
      text-decoration: none;
    }
  
    a:hover {
      text-decoration: underline;
    }
  
    .copyright {
      color: #fff;
      font-size: 2em;
    }
  
    .social-icons {
      display: flex;
      gap: 10px;
    }
  }
  