.buttonContainer {
    position: absolute;
    left: 98.7vh;
    display: flex;
    gap: 15px;
    z-index: 10;
    transform: translateY(-132%);
}

.historyButton, 
.backButton {
    margin-left: -35px;
    margin-right: 27px;
    font-size: 1.4rem;
    padding: 14px 0px;
    width: 100px;
    text-align: center;
    border-radius: 8px;
    border: 3px solid transparent;
    background-size: cover;
    color: white;
    transition: all 0.3s ease-in-out;
}


.historyButton:hover, 
.backButton:hover {
    transform: scale(1.1);
}
