.buttonContainer {
    position: absolute;
    left: 39%;
    display: flex;
    gap: 20px;
    z-index: 1000;
    transform: translateY(-137%);
}


.historyButton,
.statsButton,
.themeButton {
    font-size: 1.4rem;
    padding: 14px 0px;
    width: 16vh;
    text-align: center;
    border-radius: 8px;
    border: 3px solid transparent;
    background-size: cover;
    color: white;
    transition: all 0.3s ease-in-out;
}

.historyButton:hover,
.statsButton:hover,
.themeButton:hover {
    transform: scale(1.1);
}

.themeButtonWrapper {
    position: absolute;
    bottom: 30vh;
    left: 85%;
    transform: translateX(-50%);
}
