.wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;

  filter: brightness(50%);
}

.card {
  position: relative;
  width: 46vh;
  height: 60vh;
  margin: 3vh;
  z-index: 1;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 1.5vh;
  overflow: hidden;
  transition: 0.5s;
}

.card .front {
  transform: perspective(60vh) rotateY(0deg);
  box-shadow: 0 0.8vh 1.5vh rgba(0, 0, 0, 0.8);
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5vh;
  font-size: 3vh;
  letter-spacing: 0.3vh;
  line-height: 5vh;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.card .back {
  transform: perspective(60vh) rotateY(180deg);
  background: rgb(3, 35, 54);
  padding: 2vh;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 0.8vh 1.5vh rgba(0, 0, 0, 0.8);
}

.card .back .link {
  border-top: solid 0.2vh #f3f3f3;
  height: 6vh;
  line-height: 6vh;
}

.card .back .link a {
  color: #f3f3f3;
  font-size: 4vh;
}

.card .back h3 {
  font-size: 5vh;
  margin-top: 2.5vh;
  letter-spacing: 0.3vh;
}

.card .back p {
  letter-spacing: 0.2vh;
  font-size: 3vh;
}

.card:hover .front {
  transform: perspective(60vh) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(60vh) rotateY(360deg);
}
