.sponsorSection {
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px -10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 10vh 19vh;
    // position: absolute;
}

.sponsorSection h2 {
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    letter-spacing: 0.5vh;
    //position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.gold {
    background-color: #ffb13c98;
}

.silver {
    background-color: #a3a3a398;
}

.bronze {
    background-color: #8a1b1b98;
}

.copper {
    background-color: #b8733398;
}

.partners {
    background-color: #2150a098;
}

.logoGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.logoGrid a {
    width: 30vh;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.logoGrid img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
    padding: 10px;
}

.logoGrid a:hover {
    background-color: #b4b4b4;
}
