@import "tailwindcss";

@font-face {
  font-family: "EuroStyle";
  src: url("/local-fonts/eurostyle.ttf") format("truetype");
  src: url("/local-fonts/EuroStyleNormal.woff2") format("woff2");
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "EuroStyle", sans-serif;
  transition-property: opacity, background, transform, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

/* .page-transition {
  opacity: 0;
  background: transparent;
  transform: scale(1.02);
  filter: blur(8px);
  transition:
    opacity 0.4s ease-out,
    transform 0.4s ease-out,
    filter 0.4s ease-out;
} */
