@use "./reset";

@font-face {
  font-family: "EuroStyle";
  src: url("/local-fonts/eurostyle.ttf") format("truetype");
  src: url("/local-fonts/EuroStyleNormal.woff2") format("woff2");
  font-display: swap;
}

body,
html {
  width: 100%;
  font-family: "EuroStyle", sans-serif;
  transition-property: opacity, background, transform, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}

.page-transition {
  opacity: 0;
  background: transparent;
  transform: scale(1.02);
  filter: blur(8px);
  transition:
    opacity 0.4s ease-out,
    transform 0.4s ease-out,
    filter 0.4s ease-out;
}
