.buttonContainer {
    position: absolute;
    top: 10px;
    right: 20px;
    gap: 10px;
}

.historyButton {
    background: rgba(0, 150, 255, 0.5);
}

.backButton {
    background: rgba(255, 50, 50, 0.5);
}
