.initial_text {
    color: white;
    display: flex;
    justify-content: center;  // Center content horizontally within the container
    align-items: center;      // Center content vertically within the container
    width: 60%;
    margin: 0 auto;           // Center the container horizontally on the screen
    text-align: center;       // Center the text inside the container
    font-size: 1.75rem;
    margin-top: -5%;
}
