.chartContainer {
    position: absolute;
    left: 6%;
    top: 50%;
    background: linear-gradient(180deg, rgba(0, 82, 212, 0.7), rgba(67, 100, 247, 0.7), rgba(111, 177, 252, 0.7));
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    width: 900px; 
    max-width: 900px; 
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
}

.chartTitle {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 15px;
}

.recharts-wrapper {
    width: 100%;
}
